* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url('../img/pattern.png');
  background-size: cover;
  background-color: #0e0e0e;
}

main {
  display: flex;
  height: 100vh;
  width: 100vw;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.cat {
  border: 5px solid #25fc09;
}

.horse {
  border: 5px solid #ff0707;
}

.camel {
  border: 5px solid #c9bf07;
}